.resource-page-header {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.resource-section {
    background-color: rgb(195, 230, 192);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom:20px;
    margin-top:20px;
}

.resource-page-title {
    font-size: 36px;
    margin-block-end: 0em;
}


.resource-section-title {
    font-size: 22px;
    margin-block-end: 0em;
}


.video-item {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}


.resource-select-module-container {
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.module-buttons {
    display: flex;
    flex-wrap: wrap;
}

.module-button {
    border-radius: 3px;
    padding: 10px;
    border-color: transparent;
    margin: 10px;
}

.module-button:hover {
    cursor: pointer;
    border-color: #668A3D;
}

.resource-module-container-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;

}

.resource-module-container {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

.resource-module-video-list {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 380px;
    background-color: azure;
}

.video-button {
    padding-top: 15px;
    padding-bottom: 15px;
    text-wrap: wrap;
    background-color: rgb(205, 255, 211);
    border-color: transparent;
    font-size: 18px;
}

.video-button:hover {
    background-color: rgb(80, 145, 80);
    color:white;
    cursor: pointer;
}